<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <h5>About NoteVault</h5>
          <p>NoteVault is your ultimate note-taking solution. Enhance productivity, stay organized, and access your notes from any device. Secure and reliable, NoteVault is designed for everyone.</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#why-us">Why Us</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/register">Register</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <h5>Resources</h5>
          <ul>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <h5>Contact Us</h5>
          <ul>
            <li>Email: support@notevault.com</li>
            <li>Phone: +1-800-123-4567</li>
            <li>Address: 123 NoteVault Lane, Productivity City, PC 12345</li>
          </ul>
          <div class="social-links">
            <a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© Copyright NoteVault</p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Public script file -->
    <script src="https://kit.fontawesome.com/b13b6caa62.js" crossorigin="anonymous"></script>
    <script src="/script/script.js"></script>
  </footer>
