[data-theme="light"] {
	background-color: #f0f0f0;
	color: #333;
}

[data-theme="dark"] {

    background-color: #1e1e1e;
    color: #f0f0f0;
}

[data-theme="dark"] #title, 
[data-theme="dark"] .container-fluid-1,
[data-theme="dark"] .testimonials{
    background-color: black;
    color: white;
    font-size: 25px;

}

[data-theme="dark"] .note-nav {
	background-color: black;
	color: #f0f0f0;
}

[data-theme="dark"] .login {
	background-color: #1a1a1a;
	color: #f0f0f0;
}

[data-theme="dark"] .modal-header {
	background-color: #3c3c3c;
}

[data-theme="dark"] .modal-body {
	background-color: #1e1e1e;
	color: white;
}

[data-theme="dark"] .note-text {
	color: black;
}

[data-theme="dark"] .text-dark {
	color: white;
}
.loginclass{
	position: relative;
}
.navbar a:hover{
	color:indianred;
	
}
.icon1{
	position: absolute;
	top:calc(50%);
	left:1.8%;
}
.icon2{
	position: absolute;
	top:calc(50%);
	left:1.8%;
}

.regclass{
	position: relative;
}
.logo1{
	position: absolute;
	top:calc(55%);
	left:1.0%;
}
.logo2{
	position: absolute;
	top:calc(57%);
	left:1.0%;
}
.logo3{
	position: absolute;
	top:calc(52%);
	left:1.0%;
}

.toggle-container {


    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; 
}


.why_notevault .fa-solid{
	font-size: 4vmax;
}

.row1{
	border: 1px solid gray;
	border-radius: 25p
    }

.row1:hover {
	border: 1px solid burlywood;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #f3ecec;

	transition: 1s;
	scale:1.07;
}
.row2{
	border: 1px solid gray;
	border-radius: 25px;
	
}
.container-fluid p{
	font-size: 25px;
}


.row2:hover {
	border: 1px solid burlywood;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #f3ecec;

	transition: 1s;
	scale:1.07;
}


.row3{
	border: 1px solid gray;
	border-radius: 25px;


}
.row3:hover {
	border: 1px solid burlywood;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #f3ecec;

	transition: 1s;
	scale:1.07;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	display: flex;
	justify-content: center;

}

.switch input {
	display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    justify-content: center;
}

.slider-icon {
    position: relative;
    /* top: 10px; */
    font-size: 24px;
    color: #fff;
    transition: opacity 0.3s ease;
    /* padding : 5px; */
}

.sun {
    /* left: 5px; */
    opacity: 1;
}

.moon {
    opacity: 0;
    color: black;
    /* left:5px; */
	right: 20px ;
}

.slider.round:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    left: 5px;
    width: 120%;
    height: 110%;
    border-radius: 34px;
    background-color: black;
    transition: background-color 0.4s;

}

input:checked + .slider.round:before {
	background-color: white;
}

input:checked + .slider.round .sun {
	opacity: 0;
}

input:checked + .slider.round .moon {
	opacity: 1;
}

.hidden {
	display: none;
}

.hidden {
	display: none;
}

#title {
	background-color: #121481;
	color: white;
	font-size: 25px;
}

.mtop-4,
.my-4 {
	margin-top: 7.5rem !important;
	padding: 33px;
}

.container-log {
	display: flex;
	align-items: center;
	height: 100vh;
}

.position-relative {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 38%;
    right: 10px;
    font-size: 14px;
    padding: 4px 8px;
}


.w-half {
	width: 50%;
}

.center {
	width: 100%;
	margin: 0 auto;
}

.auth-bg {
	height: 100vh;
}

.note-nav {
	background-color: #ff4c68;
}

.note-divider {
    border-top: 1px solid black;
    margin: 0 4px;
}


.note-tag {
	font-weight: 700;
	background-color: chartreuse;
	color: floralwhite;
	border-radius: 3%;
}

.note-date{
	color: #9f9f9f;
	font-size: 15px;
}

.note-description {
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
    max-height: 10rem;
    overflow-y: auto;
    font-size: 0.875rem;
    background: none;
    margin-bottom: 10px;
    box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
}



.note-button-delete{
	background-color: #ff3a4e;
	color: white;
	border: none;
	border-radius: 0.25rem;
	width: 2rem;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.note-button-update{
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 0.25rem;
	width: 2rem;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.modal-content {
	top: 100px;
}

.modal-label {
	font-size: xx-large;
	font-weight: 700;
}

.modal-body {
	background-color: bisque;
	color: darkslategray;
}

.modal-header {
	background-color: burlywood;
}

@media (max-width: 768px) {
	.container-log {
		flex-direction: column;
	}
	.w-half {
		width: 100%;
	}
	.auth-bg {
		height: 18%;
	}
	.p-5 {
		padding: 0rem !important;
	}
	.offset-5 {
		margin-left: 8rem !important;
	}
}

.testimonials {
	text-align: center;
	background-color: #121481;
	color: white;
	font-size: 1.5rem;
}

.carousel-item {
	padding: 3rem 1rem;
}

.test-head {
	font-size: 1.3rem;
	padding: 1.5rem;
	font-weight: 600;
}

.test-desc {
	padding: 1rem 8rem;
}

.test-profile {
	font-size: 1.5rem;
	padding: 0.6rem;
	opacity: 0.8;
}

.test-profile:hover {
	opacity: 1;
	font-size: 1.6rem;
}

.test-abt a {
	text-decoration: none;
}

.invisible {
	display: none;
}

.scroll-to-top {
	display: flex;
    align-items: center;
    justify-content: center;
	color: white;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 9999;
    padding: 1rem; 
    border-radius: 50%; 
    width: 45px; 
    height: 45px;
    background-color: #222ac3;
    border-radius: 25px;
    transition: background-color 0.3s ease; 
}

.scroll-to-top:hover {
    background-color: #0077cc; 
}

body::-webkit-scrollbar {
	width: 9px; 
  }
  
  body::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  body::-webkit-scrollbar-thumb {
	background: #007bff; 
	border-radius: 6px; 
  }


  .About-Section{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0
}
.a_heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.a_heading h1{
    font-size: 60px;
    color: #000;
    margin-bottom: 25px;
    position:relative;
    font-family: cursive;
	text-decoration: underline;
}
.a_heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
}
.a_container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.a_image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.a_image img{
    max-width: 95%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.a_image:hover img{
    transform: scale(1.1);
}
.a_content{
    flex: 1;
}
.a_content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #191818; 
	font-weight: bold; 
}
.a_content p{
    font-size: 22px;
    line-height: 1.5;
    color: rgb(45, 44, 44);
}

[data-theme="dark"] .About-Section{
	background-color:  #1e1e1e;
}

[data-theme="dark"] .a_heading h1{
	color: white;
}
[data-theme="dark"] .a_content h2{
	color: white;
}

[data-theme="dark"] .a_content p{
	color: white;
}
@media screen and (max-width: 990px){
    .a_heading{
        padding: 0px 20px;
    }
    .a_heading h1{
        font-size: 60px;
        margin-bottom: 0px;
    }
    .a_container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .a_image{
        margin-right: 0px;
        margin-bottom: 20px;
        align-items: center;
    }
    .a_content p{
        padding: 0px;
        font-size: 25px;
    }
}