.hidden {
	display: none;
}

#title {
	background-color: #ff4c68;
	color: white;
	font-size: 25px;
	
}

.testimonial-section {
	height: auto;
	background-color: #ef8172;
	color: white;
	font-size: 25px;
}

.testimonial-message {
	background-color: antiquewhite;
}

.mtop-4,
.my-4 {
	margin-top: 7.5rem !important;
	padding: 33px;
}

.container-log {
	display: flex;
	align-items: center;
	height: 100vh;
}

.w-half {
	width: 50%;
}

.center {
	width: 100%;
	margin: 0 auto;
}

.auth-bg {
	height: 100vh;
}

.note-nav {
	background-color: #ff4c68;
}

.note-tag {
	font-weight: 700;
	background-color: chartreuse;
	color: floralwhite;
	border-radius: 3%;
}

.note-description {
	background-color: aquamarine;
	font-weight: 300;
}

.modal-content {
	top: 100px;
}

.modal-label {
	font-size: xx-large;
	font-weight: 700;
}

.modal-body {
	background-color: bisque;
	color: darkslategray;
}

.modal-header {
	background-color: burlywood;
}

@media (max-width: 768px) {
	.container-log {
		flex-direction: column;
	}
	.w-half {
		width: 100%;
	}
	.auth-bg {
		height: 18%;
	}
	.p-5 {
		padding: 0rem !important;
	}
	.offset-5 {
		margin-left: 8rem !important;
	}
}
