<%- include("partials/header") -%>


<section id="title">

	<!-- container row column -->
	<div class="container-fluid p-4">
		<div class="navbar row m-1">
			<div class="col-lg-4 font-weight-bold" style="font-size: 35px;display:flex;">
				<img src="image/favicon.png" width="50px" style="border-radius:25%;height:50px;">
				<a href="/note/show" class="text-white text-decoration-none" style="padding-left:2%;">
					NoteVault
				</a>
			</div>
			<!-- Dark mode toggle switch with custom sun and moon icons -->
			<div class="toggle-container">
				<label class="switch">
					<input type="checkbox" id="modeToggle" />
					<span class="slider round">
						<span class="slider-icon sun"><i class="fa-solid fa-sun"></i></span>
						<span class="slider-icon moon"
							><i class="fa-solid fa-moon"></i
						></span>
					</span>
				</label>
			</div>
			<div class="col-4">
				<div class="row p-2 font-weight-light">
					<div class="navbar col-lg-6 text-center">
						<a href="#why-us" class=" text-decoration-none">
							Why Us
						</a>
					</div>
					<div class="navbar col-lg-6 text-center">
						<a href="#testimonials" class=" text-decoration-none">
							Testimonials
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row p-2 font-weight-light">
					<div class="navbar col-lg-6 text-center">
						<a href="/user/login" class=" text-decoration-none">
							Login
						</a>
					</div>
					<div class="navbar col-lg-6 text-center">
						<a href="/user/register" class=" text-decoration-none">
							Register
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 align-items-center">
			<div class="col-lg-8">
				<p style="font-size: 100px">
					Keep your thoughts, ideas, and important information in one secure
					place.
				</p>
			</div>
			<div class="col-lg-4">
				<img class="img-fluid" src="/image/notebook.jpg" alt="notebook" />
			</div>
		</div>
	</div>


   
</section>

<section class="features p-5" id="why-us">
	<div class="container-fluid">
		<div class="row">
			<div
				class="col-lg-12 text-center"
				style="font-size: 60px; font-family: cursive; text-decoration: underline;"

			>
				Why Choose NoteVault?
			</div>
		</div>
		<div
			class="row why_notevault justify-content-around"
			style="font-size: 30px; padding-top: 70px; padding-bottom: 60px"
		>
			<div class="row1 col-lg-3 text-center pt-4 pb-3">

				<i class="fa-solid fa-check fa"></i>
				<h1 style="color: rgb(79, 63, 63); font-style: lucida">
					Easy Note Organization
				</h1>
				<p style="color: rgb(18, 20, 129); font-style: mukta">
					Craft, Categorize, and Seek in the Scroll of Notes
				</p>
			</div>

			<div class="row2 col-lg-3 text-center pt-4 pb-3">

				<i class="fa-solid fa-universal-access fa"></i>
				<h1 style="color: rgb(79, 63, 63); font-style: lucida">
					Access Anywhere
				</h1>
				<p style="color: rgb(18, 20, 129); font-style: mukta">
					Access your notes seamlessly across all your devices!
					
				</p>
			</div>

			<div class="row3 col-lg-3 text-center pt-4 pb-3">

				<i class="fa-solid fa-lock fa"></i>
				<h1 style="color: rgb(79, 63, 63); font-style: lucida">
					Secure and Private
				</h1>
				<p style="color: rgb(18, 20, 129); font-style: mukta,lucida,serif">
					Your notes are encrypted and protected, ensuring your data is safe.
				</p>
			</div>
		</div>
	</div>
</section>


<section class="About-Section">
	<div class="a_heading">
		<h1>About this Website</h1>
		<div class="a_container">
			<section class="about">
				<div class="a_image">
					<img src="/image/noteimg.jpg" alt="">
				</div>
				<div class="a_content">
					<h2>NoteVault: Your Ultimate Note-Taking Solution</h2>
					<p>Welcome to NoteVault, the perfect platform for enhancing your productivity and organizing your notes efficiently. Whether you're a student or a professional, NoteVault has everything you need.</p>
					<p>Note Vault lets you easily create, categorize, and search your notes. Edit anytime to keep them current, delete unneeded notes for a clutter-free workspace, and enjoy secure, encrypted protection. Access your notes from any device—computer, tablet, or smartphone. Choose Note Vault for the ultimate note-taking solution.</p>
					<p>Join NoteVault now and transform your note-taking!</p>
				</div>
			</section>
		</div>
	</div>
</section>


<section class="testimonials" id="testimonials">
	<div class="col-lg-12 text-center" style="font-size: 60px">

		<p>What Our Clients Say</p>
	</div>
	<div class="container-fluid">
		<div
			id="carouselExampleAutoplaying"
			class="carousel slide"
			data-bs-ride="carousel"
		>
			<div class="carousel-indicators">
				<button
					type="button"
					data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide-to="0"
					class="active"
					aria-current="true"
					aria-label="Slide 1"
				></button>
				<button
					type="button"
					data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide-to="1"
					aria-label="Slide 2"
				></button>
				<button
					type="button"
					data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide-to="2"
					aria-label="Slide 3"
				></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<h6 class="test-head">Sarah Johnson | University Student</h6>
					<p class="test-desc">
						"NoteVault is a game-changer for me. As a student, it helps me stay
						organized and never miss important information. Thank you!"
					</p>
					<div class="test-abt">
						<a href="https://linkedin.com/" target="_blank">
							<i class="fa-brands fa-linkedin test-profile"></i>
						</a>
						<a href="https://github.com/" target="_blank">
							<i class="fa-brands fa-github test-profile"></i>
						</a>
						<a href="https://twitter.com/" target="_blank">
							<i class="fa-brands fa-x-twitter test-profile"></i>
						</a>
					</div>
				</div>
				<div class="carousel-item">
					<h6 class="test-head">Mark Roberts | Digital Marketer</h6>
					<p class="test-desc">
						"I've been using NoteVault for my personal and professional notes,
						and it has greatly improved my productivity. The collaboration
						features are fantastic!"
					</p>
					<div class="test-abt">
						<a href="https://linkedin.com/" target="_blank">
							<i class="fa-brands fa-linkedin test-profile"></i>
						</a>
						<a href="https://github.com/" target="_blank">
							<i class="fa-brands fa-github test-profile"></i>
						</a>
						<a href="https://twitter.com/" target="_blank">
							<i class="fa-brands fa-x-twitter test-profile"></i>
						</a>
					</div>
				</div>
				<div class="carousel-item">
					<h6 class="test-head">Laura Thompson | Small Business Owner</h6>
					<p class="test-desc">
						"NoteVault has simplified my life. It's intuitive, reliable, and
						accessible on all my devices. Highly recommended for anyone looking
						for a note-taking solution."
					</p>
					<div class="test-abt">
						<a href="https://linkedin.com/" target="_blank">
							<i class="fa-brands fa-linkedin test-profile"></i>
						</a>
						<a href="https://github.com/" target="_blank">
							<i class="fa-brands fa-github test-profile"></i>
						</a>
						<a href="https://twitter.com/" target="_blank">
							<i class="fa-brands fa-x-twitter test-profile"></i>
						</a>
					</div>
				</div>
			</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>


<!-- Scroll Up button -->
<div class="scroll-to-top invisible">
	<a href="#title"><i class="fa-solid fa-arrow-up"></i></a>
</div>

<footer style="text-align: center">
	<div class="col-md-12 mt-5">
		<p>© Copyright NoteVault</p>
	</div>
</footer>
<%- include("partials/footer") -%>
