<%- include("partials/header") -%>
  <style>
    .testimonials-container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }

    .section-title {
      font-size: 40px;
      padding-top: 100px;
      color: rgb(255, 255, 255);
      /* Change font color to black */
    }

    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .testimonial-box {
      padding: 20px;
      margin: 20px;
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      color: rgb(247, 247, 247);
      /* Change font color to black */
    }

    .test-head {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: black;
      /* Change font color to black */
    }

    .test-desc {
      font-size: 18px;
      margin-bottom: 20px;
      color: black;
      /* Change font color to black */
    }

    .test-abt {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .test-profile {
      font-size: 24px;
      color: #000;
      transition: color 0.3s;
    }

    .test-profile:hover {
      color: #ee7195;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #ee7195;
      border-radius: 50%;
      padding: 10px;
    }

    .carousel-indicators button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ee7195;
      border: none;
      transition: background-color 0.3s;
    }
  
  .side-drawer {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .side-drawer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .side-drawer a:hover {
    color: #f1f1f1;
  }

  .side-drawer .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .open-drawer {
    width: 250px;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }

  @media (min-width: 992px) {
    .side-drawer {
      display: none;
    }
  }

  footer {
  position: relative;
  padding: 50px 0;
}

#back-to-top-container {
  position: fixed;
  background-color: black;
  border-radius: 50%;
  bottom: 20px;
  right: 30px; 
  cursor: pointer;
  z-index: 1000;
}

.circle1 {
  background-color: #0c7abf; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#back-to-top {
  width: 40px; 
  height: 40px; 
  fill: #0c7abf;
  transition: fill 0.3s;
}
#back-to-top:hover {
  fill: hsl(203, 98%, 50%); 
}
</style>
<script src="https://cdn.lordicon.com/lordicon.js"></script>

<div class="loader">
  <div>
    <ul>
      <li>
        <svg fill="currentColor" viewBox="0 0 90 120">
          <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
        </svg>
      </li>
      <li>
        <svg fill="currentColor" viewBox="0 0 90 120">
          <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
        </svg>
      </li>
      <li>
        <svg fill="currentColor" viewBox="0 0 90 120">
          <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
        </svg>
      </li>
      <li>
        <svg fill="currentColor" viewBox="0 0 90 120">
          <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
        </svg>
      </li>
      <li>
        <svg fill="currentColor" viewBox="0 0 90 120">
          <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
        </svg>
      </li>
      <li>
        <svg fill="currentColor" viewBox="0 0 90 120">
          <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
        </svg>
      </li>
    </ul>
  </div><span>Loading...</span></div>

<section id="title">
  <!-- container row column -->
  <div class="container-fluid  pt-5">

    <div class="header">

      <!-- NoteVault logo and title -->

      <div class="col-lg-3 font-weight-bold" style="font-size: 35px; display: flex">
        <img src="image/logo 2 notevault.jpg" width="70px" style="border-radius: 25%; height: 70px"/>

      <div class=" font-weight-bold" style="font-size: 35px; display: flex">
        <img src="image/logo 2 notevault.png" width="50px" style="border-radius: 25%; height: 50px"/>

        <a href="/note/show" class="text-white text-decoration-none ml-2">NoteVault</a>
      </div>
      <!-- Dark mode toggle switch -->
      <div class="toggle-container col-lg-1">
        <label class="switch">
          <input type="checkbox" id="modeToggle" />
          <span class="slider round">
            <span class="slider-icon sun"><i class="fa-solid fa-sun"></i></span>
            <span class="slider-icon moon"><i class="fa-solid fa-moon"></i></span>
          </span>
        </label>
      </div>

      <!-- Links -->
      <div class=" px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="#why-us" class="text-decoration-none">
            <i class="fa-solid fa-circle-info" style="color: #ffffff"></i>
            Why Us
          </a>
        </div>
      </div>
      <div class=" px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="#aboutus" class="text-decoration-none ">
            <i class="fa-solid fa-address-card" style="color: #ffffff"></i>
            About Us
          </a>
        </div>
      </div>
      <div class=" px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="#testimonials" class="text-decoration-none">
            <i class="fa-solid fa-users" style="color: #ffffff"></i>
            Testimonials
          </a>
        </div>
      </div>
      <div class=" px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="/pro" class="text-decoration-none">
            <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
            Go Pro!
          </a>
        </div>
      </div>
      <div class=" px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="/user/login" class="text-decoration-none">
            <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
            Login
          </a>
        </div>
      </div>
      <div class=" px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="/user/register" class="text-decoration-none">
            <i class="fa-solid fa-registered" style="color: #ffffff"></i>
            Register
          </a>

    .side-drawer {
      display: none;
    }

   

    .open-drawer {
      width: 250px;
    }


    footer {
      position: relative;
      padding: 50px 0;
    }

    #back-to-top-container {
      position: fixed;
      background-color: black;
      border-radius: 50%;
      bottom: 20px;
      right: 30px;
      cursor: pointer;
      z-index: 1000;
    }

    .circle1 {
      background-color: #0c7abf;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
    }

    #back-to-top {
      width: 40px;
      height: 40px;
      fill: #0c7abf;
      transition: fill 0.3s;
    }

    #back-to-top:hover {
      fill: hsl(203, 98%, 50%);
    }
  </style>
  <script src="https://cdn.lordicon.com/lordicon.js"></script>

  <div class="loader">
    <div>
      <ul>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path
              d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
            </path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path
              d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
            </path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path
              d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
            </path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path
              d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
            </path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path
              d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
            </path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path
              d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
            </path>
          </svg>
        </li>
      </ul>
    </div><span>Loading...</span>
  </div>

  <section id="title">
    <!-- container row column -->
    <div class="container-fluid  pt-5">
      <div class="row align-items-center fixed-nav">
        <!-- NoteVault logo and title -->
        <div class="col-lg-2 font-weight-bold ms-3" style="font-size: 25px; display: flex">
          <img src="image/favicon.png" width="50px" style="border-radius: 25%; height: 50px" />
          <a href="/note/show" class="text-white text-decoration-none ml-2">NoteVault</a>
          <div class="w-[100px] h-fit flex md:hidden">
            <button class="p-2 border text-sm ml-5 text-black" onclick="openDrawer()">Menu</button>
          </div>
        </div>

        <!-- Links -->
        <div class="links hidden md:flex gap-1">
          <div class="px-1 d-none d-lg-block w-fit">
            <div class="navbar text-center">
              <a href="#why-us" class="text-decoration-none">
                <i class="fa-solid fa-circle-info" style="color: #ffffff"></i>
                Why Us
              </a>
            </div>
          </div>
          <div class="px-1 d-none d-lg-block">
            <div class="navbar text-center">
              <a href="#aboutus" class="text-decoration-none">
                <i class="fa-solid fa-address-card" style="color: #ffffff"></i>
                About Us
              </a>
            </div>
          </div>
          <div class="px-1 d-none d-lg-block">
            <div class="navbar text-center">
              <a href="#testimonials" class="text-decoration-none">
                <i class="fa-solid fa-users" style="color: #ffffff"></i>
                Testimonials
              </a>
            </div>
          </div>
          <div class="px-1 d-none d-lg-block">
            <div class="navbar text-center">
              <a href="/pro" class="text-decoration-none">
                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
                Go Pro!
              </a>
            </div>
          </div>
          <div class="px-1 d-none d-lg-block">
            <div class="navbar text-center">
              <a href="/user/login" class="text-decoration-none">
                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
                Login
              </a>
            </div>
          </div>
          <div class="px-1 d-none d-lg-block">
            <div class="navbar text-center">
              <a href="/user/register" class="text-decoration-none">
                <i class="fa-solid fa-registered" style="color: #ffffff"></i>
                Register
              </a>
            </div>
          </div>
          <!-- Dark mode toggle switch -->
          <div class="col-lg-none">
            <label class="switch">
              <input type="checkbox" id="modeToggle" />
              <span class="slider round">
                <span class="slider-icon sun"><i class="fa-solid fa-sun"></i></span>
                <span class="slider-icon moon"><i class="fa-solid fa-moon"></i></span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>


    <div id="myDrawer" class="w-full h-fit mt-5 bg-slate-100 text-white z-50 hidden">
      <a href="javascript:void(0)" class="close-btn" onclick="closeDrawer()">X</a>
      <a href="#why-us"><p class="text-black  ">Why us</p></a>
      <a href="#aboutus"><p class="text-black">About Us</p></a>
      <a href="#testimonials"><p class="text-black">Testimonials</p></a>
      <a href="/user/login"><p class="text-black">Login</p></a>
      <a href="/user/register"><p class="text-black">Register</p></a>
      <a href="#contact"><p class="text-black"> Contact</p></a>
    </div>

    <div class="row hero-margin items-center h-fit box-border" id="why-us">
      <div class="col-lg-8 hero-margin ">
        <p class="font-hero hero-text text-5xl leading-loose">
          Keep your <span class="text-green-700">thoughts</span>,<br> <span class="text-amber-400"> ideas</span>, and
          important
          information in one secure place.

          <lord-icon src="https://cdn.lordicon.com/svsiboke.json" class="t" trigger="hover" stroke="light"
            colors="primary:#121331,secondary:#ffffff,tertiary:#8930e8,quaternary:#66a1ee,quinary:#f4dc9c,senary:#3a3347"
            style="width: 5vw; height: 5vw"></lord-icon>

          <lord-icon src="https://cdn.lordicon.com/zfzufhzk.json" class="t" trigger="hover"
            style="width: 5vw; height: 5vw"></lord-icon>
        </p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img class="img-fluid" src="/image/notebook.jpg" alt="notebook" />
      </div>
    </div>
    </div>


  </section>


  <!-- <section class="features p-5">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-12 text-center"
        style="
          font-size: 60px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Why Choose NoteVault?
      </div>
    </div>
    <div
      class="row"
      style="font-size: 30px; padding-top: 70px; padding-bottom: 60px"
    >
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-card-checklist"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
            />
            <path
              d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Easy Note Organization</p>
            <p class="card__description">
              Create, categorize, and search your notes effortlessly.
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-universal-access-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"
            />
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Access Anywhere</p>
            <p class="card__description">
              Access your notes from any device, whether it's your computer,
              tablet, or smartphone.
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-shield-lock"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"
            />
            <path
              d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Secure and Private</p>
            <p class="card__description">
              Your notes are encrypted and protected, ensuring your data is
              safe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
  <section class="font-sans">
    <div class="max-w-3xl mx-auto mt-12 p-6 rounded-lg">
      <h1 class="text-4xl font-bold text-center mb-8">
        Why choose NoteVault?
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out border-2 rounded-2xl shadow-md">
          <div class="bg-teal-500 text-white rounded-full p-4 mb-4 hover:bg-teal-600">
            <svg width="100" height="100" viewBox="0 0 24 24" class="w-8 h-8" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Lock body -->
              <path
                d="M17 11H7C5.895 11 5 11.895 5 13V19C5 20.105 5.895 21 7 21H17C18.105 21 19 20.105 19 19V13C19 11.895 18.105 11 17 11Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <!-- Lock shackle -->
              <path d="M7 11V7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7V11" stroke="white" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
              <!-- Keyhole -->
              <circle cx="12" cy="16" r="1" fill="white" />
            </svg>
          </div class="border">
          <h2 class="text-xl font-semibold">
            Safe
          </h2>
          <p class="text-center">
            The concept of marketing support product range, regardless of the cost
            market trends.
          </p>
        </div>
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out border-2 shadow-md rounded-2xl">
          <div class="bg-green-500 text-white rounded-full p-4 mb-4 hover:bg-green-600">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L15 12l-5.25-5"></path>
            </svg>
          </div>
          <h2 class="text-xl font-semibold">
            Fast
          </h2>
          <p class="text-center">
            Business plan elegantly transforms sublimated pool of loyal editions,
            optimizing budgets.
          </p>
        </div>
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out border-2 shadow-md rounded-2xl">
          <div class="bg-yellow-500 text-white rounded-full p-4 mb-4 hover:bg-yellow-600">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 9V5a3 3 0 00-3-3H6a3 3 0 00-3 3v14a3 3 0 003 3h8a3 3 0 003-3v-4"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6M9 11h6"></path>
            </svg>
          </div>
          <h2 class="text-xl font-semibold">
            Low Fee
          </h2>
          <p class="text-center">
            Sponsorship, summing these examples, it is doable. SWOT-analysis,
            according to Kotler, competitive.
          </p>
        </div>
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out border-2 shadow-md rounded-2xl">
          <div class="bg-orange-500 text-white rounded-full p-4 mb-4 hover:bg-orange-600">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 14s1.5-2 4-2 4 2 4 2M9 8h.01M15 8h.01M19 4h-1.586a2 2 0 00-1.414.586L15 6H9L7.414 4.586A2 2 0 006 4H4a2 2 0 00-2 2v12a2 2 0 002 2h15a2 2 0 002-2V6a2 2 0 00-2-2z">
              </path>
            </svg>
          </div>
          <h2 class="text-xl font-semibold">
            Quick Support
          </h2>
          <p class="text-center">
            The fact that the advertising platform changes the method of studying
            the market.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="About-Section" id="aboutus">
    <div class="a_heading">
      <h1 style="font-style: normal; font-family: Poppins">About NoteVault</h1>
      <div class="a_container">
        <section class="about">
          <div class="a_image">
            <img src="/image/about-sec.png" alt="" />
          </div>
          <div class="a_content" style="font-style: normal; font-family: Poppins; text-align: center;">
            <h2>NoteVault : Your Note-Taking Powerhouse</h2>
            <p style="text-align: justify;">
              Struggling to stay organized and on top of your ever-growing to-do list? Meet NoteVault, your one-stop
              solution for effortless note-taking and maximized productivity.
            </p>
            <p style="text-align: justify;">
              Welcome to NoteVault, whether you're a
              student or a professional, NoteVault has everything you need.
            </p>
            <p style="text-align: justify;">
              Create, categorize, and find your notes with ease. Keep them up-to-date with quick edits and remove
              unnecessary ones for a clean workspace. Note Vault secures your notes with encrypted protection, giving
              you peace of mind. Access your information anytime, anywhere - from your computer, tablet, or smartphone.
              <b>Make Note Vault your go-to choice for a powerful note-taking experience.</b>
            </p>

          </div>
        </section>
      </div>
    </div>
  </section>


  <section class="testimonials" id="testimonials">
    <div class="container text-center">
      <h2 class="section-title">What Our Clients Say</h2>
    </div>
    <div class="container testimonials-container">
      <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-box text-center">
              <!-- <img src="https://img.freepik.com/premium-vector/happy-cute-smile-boy-crossed-arms_97632-1360.jpg" height="100px" width="100px" alt=""> -->
              <div class="img-cont">
                <img
                  src="https://img.freepik.com/free-photo/smart-business-woman-with-glasses-portrait-isolated-white-wall_231208-8786.jpg"
                  height="200px" width="200px" alt="">
                <h5 class="test-head">Sarah Johnson</h5>
              </div>
              <p class="test-role">University Student</p>
              <p class="test-desc">"NoteVault is a game-changer for me. As a student, it helps me stay organized and
                never miss important information. Thank you!"</p>
              <div class="test-abt">
                <a href="https://linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin test-profile"></i>
                </a>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github test-profile"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter test-profile"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-box text-center">
              <div class="img-cont">
                <img
                  src="https://static.vecteezy.com/system/resources/thumbnails/036/783/072/small_2x/ai-generated-male-lawyer-in-suit-professional-ai-generated-photo.jpg"
                  height="220px" width="220px" alt="">
                <h5 class="test-head">Mark Jhonson</h5>
              </div>
              <p class="test-role">Digital Marketer</p>
              <p class="test-desc">"I've been using NoteVault for my personal and professional notes, and it has greatly
                improved my productivity. The collaboration features are fantastic!"</p>
              <div class="test-abt">
                <a href="https://linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin test-profile"></i>
                </a>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github test-profile"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter test-profile"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-box text-center">
              <div class="img-cont">
                <img src="https://i.pinimg.com/736x/aa/9e/f0/aa9ef022cdae83df1d96baa6fbbeb380.jpg" height="270px"
                  width="270px" alt="">
                <h5 class="test-head">Alina Decluza</h5>
              </div>
              <p class="test-role">Small Business Owner</p>
              <p class="test-desc">"NoteVault has simplified my life. It's intuitive, reliable, and accessible on all my
                devices. Highly recommended for anyone looking for a note-taking solution."</p>
              <div class="test-abt">
                <a href="https://linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin test-profile"></i>
                </a>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github test-profile"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter test-profile"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <style>
    .testimonials {
      padding: 50px 0;
      background-color: #f9f9f9;
    }

    .section-title {
      font-size: 2.5em;
      margin-bottom: 30px;
    }

    .testimonials-container {
      max-width: 800px;
      margin: auto;
    }

    .testimonial-box {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .testimonial-box:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .test-head {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 5px;
      display: inline-block;
    }

    .img-cont img {
      margin: auto;
    }

    .test-role {
      font-size: 1em;
      color: #777;
      margin-bottom: 15px;
    }

    .test-desc {
      font-size: 1em;
      color: #555;
      margin-bottom: 20px;
    }

    .test-abt {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .test-profile {
      font-size: 1.5em;
      color: #0077b5;
      transition: color 0.3s;
    }

    .test-profile:hover {
      color: #005582;
    }

    .test-profile.github {
      color: #333;
    }

    .test-profile.github:hover {
      color: #24292e;
    }

    .test-profile.twitter {
      color: #1da1f2;
    }

    .test-profile.twitter:hover {
      color: #0c7abf;
    }
  </style>
  <!-- feedback style  -->
  <style>
    .small-container {
        max-width: 200px;
    }
    .emoji {
        cursor: pointer;
        font-size: 2rem;
        padding: 0.5rem;
    }
    .selected {
        border: 2px solid #007bff;
        border-radius: 5px;
    }
</style>
  
  <%- include('faqs') %>

  <!-- feedback  -->
  <section class="feedback" id="feedbackid">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Feedback</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Leave Your Feedback</h5>
                        <form id="feedbackForm">
                            <div class="mb-3">
                                <label for="message" class="form-label">How was your experience?</label>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <span class="emoji selected" data-emoji="😠">😠</span>
                                    <span class="emoji" data-emoji="😕">😕</span>
                                    <span class="emoji" data-emoji="😐">😐</span>
                                    <span class="emoji" data-emoji="🙂">🙂</span>
                                    <span class="emoji" data-emoji="😄">😄</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Additional Comments:</label>
                                <textarea class="form-control" id="message" rows="3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Scroll Up button -->
    <div id="back-to-top-container">
      <div class="circle">
        <svg id="back-to-top" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentcolor"
          class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
          <path
            d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
        </svg>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-section about">
          <h3>Company</h3>
          <p>We are committed to delivering the best services to our customers. Your satisfaction is our priority.</p>
        </div>
        <div class="footer-section linksFooter">
          <h3>Quick Links</h3>
          <ul>

            <li><a href="#title"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="#why-us"> <i class="fa-solid fa-circle-question"></i> Why-us?</a></li>
            <li><a href="#aboutus"><i class="fa-solid fa-circle-info"></i> About</a></li>
            <li><a href="#testimonials"><i class="fa-solid fa-users"></i> Clients View</a></li>
            <li><a href="#contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
          </ul>
        </div>
        <div class="footer-section contact">
          <h3>Contact Us</h3>
          <p>Email: companyname@gamail.com</p>
          <p>Phone: +91 **********</p>
        </div>
        <div class="footer-section social">
          <h3>Follow Us</h3>
          <div class="test-abt">
            <a href="https://linkedin.com/" target="_blank">
              <i class="fa-brands fa-linkedin test-profile"></i>
            </a>
            <a href="https://github.com/" target="_blank">
              <i class="fa-brands fa-github test-profile"></i>
            </a>
            <a href="https://twitter.com/" target="_blank">
              <i class="fa-brands fa-x-twitter test-profile"></i>
            </a>
          </div>
        </div>
      </div>

      </div>
      </div>
      </section>

      <script>
        //Scroll to top js
        document.addEventListener("DOMContentLoaded", function () {
          const backToTopButton = document.getElementById('back-to-top-container');

          function checkButtonVisibility() {
            if (window.innerWidth > 100 && window.scrollY > 100) {
              backToTopButton.style.display = 'block';
            } else {
              backToTopButton.style.display = 'none';
            }
          }

          window.addEventListener('scroll', checkButtonVisibility);
          window.addEventListener('resize', checkButtonVisibility);

          backToTopButton.addEventListener('click', function () {
            window.scrollTo({
              top: 0,
              behavior: 'smooth'
            });
          });
          checkButtonVisibility();
        });

        function handleScroll() {
          if (window.pageYOffset > 100) {
            scrollToTopBtn.classList.add("show");
          } else {
            scrollToTopBtn.classList.remove("show");
          }
        }
        // Add scroll event listener
        window.addEventListener("scroll", handleScroll);
        // Add click event listener
        scrollToTopBtn.addEventListener("click", scrollToTop);

        function openDrawer() {
          console.log("click423")
          document.getElementById("myDrawer").style.display = "block";
        }

        function closeDrawer() {
          console.log("click")
          document.getElementById("myDrawer").style.display = "none";
        }
        document.addEventListener("DOMContentLoaded", function () {
          const form = document.getElementById("contactForm");
          const successMessage = document.getElementById("successMessage");

          form.addEventListener("submit", function (event) {
            event.preventDefault();
            setTimeout(function () {
              successMessage.style.display = "block";
              form.reset();
            }, 1000);
          });
        });
      </script>
      <!-- feedback js  -->
      <script>
        document.querySelectorAll('.emoji').forEach(item => {
            item.addEventListener('click', event => {
                document.querySelectorAll('.emoji').forEach(item => {
                    item.classList.remove('selected');
                });
                item.classList.add('selected');
            });
        });

        document.getElementById('feedbackForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const selectedEmoji = document.querySelector('.emoji.selected').getAttribute('data-emoji');
            const feedbackMessage = document.getElementById('message').value;
            console.log('Selected Emoji:', selectedEmoji);
            console.log('Feedback Message:', feedbackMessage);
            alert('Feedback submitted successfully!');
            this.reset();
        });
    </script>
      <style>
        /*Scroll to top*/
        .scrollToTopBtn {
          position: fixed;
          bottom: 40px;
          right: 40px;
          width: 50px;
          height: 50px;
          background-color: #00ccff;
          color: white;
          border: none;
          border-radius: 50%;
          text-align: center;
          line-height: 50px;
          font-size: 24px;
          cursor: pointer;
          transition: opacity 0.3s ease-in-out;
          opacity: 0;
          visibility: hidden;
          z-index: 1000;
        }

        .scrollToTopBtn.show {
          opacity: 1;
          visibility: visible;
        }

        .Contact-Section {
          background-color: #f8f9fa;
          padding: 50px 0;
        }

        .c_heading {
          margin-bottom: 30px;
        }

        .c_heading h1 {
          font-style: normal;
          font-family: Poppins;
          font-size: 36px;
        }

        .c_content h2 {
          font-style: normal;
          font-family: Poppins;
          font-size: 24px;
          margin-bottom: 20px;
        }

        .c_content p {
          font-family: Poppins;
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 20px;
        }

        .form-group {
          margin-bottom: 20px;
        }

        .form-control {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ced4da;
        }

        textarea.form-control {
          resize: none;
        }

        .btn-primary {
          background-color: #007bff;
          color: #ffffff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
      </style>

      <div class="footer-bottom">
        <p>&copy; 2024 <a href="https://github.com/Note-Vault" target="_blank"
            style="font-weight: bold; text-decoration: none;">NoteVault</a> | All rights reserved | Made by <a
            href="https://github.com/Note-Vault" target="_blank"
            style="font-weight: bold; text-decoration: none;">Note-Vault</a>.</p>
      </div>

    <
  
    <%- include("partials/footer") -%>

    <script>
      window.onload = function () {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
        function hideLoader() {
          const loader = document.querySelector('.loader');
          loader.classList.add('hidden');
          loader.addEventListener('transitionend', function () {
            loader.style.display = 'none';
            document.body.style.overflow = 'auto';
          });
        }
        setTimeout(hideLoader, 3000);
      }
    </script>


    <%- include("partials/footer") -%>

