
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/png" href="/image/logo.png">
		<title>NoteVault</title>
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Kanit:wght@500&family=Lora&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="/style/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<style>
			body{
				width: 100vw;
				overflow-x: hidden;
				
			}
		</style>
		<script src="https://cdn.tailwindcss.com"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
		></script>
	</head>
	<body></body>
</html>
<style>
  .testimonials-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  .section-title {
    font-size: 40px;
   padding-top: 100px;
    color: rgb(255, 255, 255); /* Change font color to black */
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .testimonial-box {
    padding: 20px;
    margin: 20px;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: rgb(247, 247, 247); /* Change font color to black */
  }

  .test-head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black; /* Change font color to black */
  }

  .test-desc {
    font-size: 18px;
    margin-bottom: 20px;
    color: black; /* Change font color to black */
  }

  .test-abt {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .test-profile {
    font-size: 24px;
    color: #000;
    transition: color 0.3s;
  }

  .test-profile:hover {
    color: #ee7195;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color:#ee7195;
    border-radius: 50%;
    padding: 10px;
  }

  .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#ee7195;
    border: none;
    transition: background-color 0.3s;
  }

  .carousel-indicators .active {
    background-color: #ee7195;
  }

  @media (max-width:786px){
    .carousel-inner {
    /* Adjust carousel styling for mobile screens */
    width: 100%; /* Make the carousel width 100% to fit the screen */
    height: auto; /* Allow the height to adjust automatically */
    }
    .testimonial-box {
      padding: 5px;
      margin: 0px;
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      color: rgb(247, 247, 247); /* Change font color to black */
    }
    .testimonials-container{
      padding: 0px;
    }
    .container{
      padding:0px;
    }
    .test-desc{
      padding: 0px 0px;
    }
  }


  .fixed-nav{
    background-color:#333333;
    position:static;
    top: 0;
    left: -10px;
    width: 100%;     
    padding: 1em;
    z-index: 100;
  }
  

  .text-green {
    color: green !important;
  }

  .text-yellow{
    color: rgb(255, 200, 0);
  }

  [data-theme="dark"].hero-text{
    color: white;
  }
   [data-theme="light"].hero-text{
    color: black;
  }
  .font-hero{
    font-size: 3em;
  }
  .hero-margin{
    margin-top: -3.5em;
    padding-top: -3.5em;
  }
  @media (max-width: 576px) {
    .fixed-nav{
      position: static; /* Change to static for smaller screens */
    }
    .font-hero{
      font-size: 1.2em;
      margin-top: 1rem;
    }
    .hero-margin{
      margin-top: 0;
      padding-top: 0;
    }
  }

</style>
<script src="https://cdn.lordicon.com/lordicon.js"></script>

<section id="title">
  <!-- container row column -->
  <div class="container-fluid  pt-5">
    <div class="row m-1 align-items-center fixed-nav ">
      <!-- NoteVault logo and title -->
      <div class="col-lg-3 font-weight-bold" style="font-size: 35px; display: flex">
        <img src="image/favicon.png" width="50px" style="border-radius: 25%; height: 50px"/>
        <a href="/note/show" class="text-white text-decoration-none ml-2">NoteVault</a>
      </div>
      <!-- Dark mode toggle switch -->
      <div class="toggle-container col-lg-1">
        <label class="switch">
          <input type="checkbox" id="modeToggle" />
          <span class="slider round">
            <span class="slider-icon sun"><i class="fa-solid fa-sun"></i></span>
            <span class="slider-icon moon"><i class="fa-solid fa-moon"></i></span>
          </span>
        </label>
      </div>

      <!-- Links -->
      <div class="col-lg-2 px-1, d-flex">
        <div class="navbar text-center">
          <a href="#why-us" class="text-decoration-none">
            <i class="fa-solid fa-circle-info" style="color: #ffffff"></i>
            Why Us
          </a>
        </div>
      </div>
      <div class="col-lg-2 px-1">
        <div class="navbar text-center">
          <a href="#aboutus" class="text-decoration-none">
            <i class="fa-solid fa-address-card" style="color: #ffffff"></i>
            About Us
          </a>
        </div>
      </div>
      <div class="col-lg-2 px-1">
        <div class="navbar text-center">
          <a href="#testimonials" class="text-decoration-none">
            <i class="fa-solid fa-users" style="color: #ffffff"></i>
            Testimonials
          </a>
        </div>
      </div>
      <div class="col-lg-1 px-1">
        <div class="navbar text-center">
          <a href="/user/login" class="text-decoration-none">
            <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
            Login
          </a>
        </div>
      </div>
      <div class="col-lg-1 px-1">
        <div class="navbar text-center">
          <a href="/user/register" class="text-decoration-none">
            <i class="fa-solid fa-registered" style="color: #ffffff"></i>
            Register
          </a>
        </div>
      </div>
    </div>

    <div class="row hero-margin align-items-center ">
      <div class="col-lg-8 hero-margin ">
        <p class="font-hero hero-text">
          Keep your <span class="text-green">thoughts</span>,<br> <span class="text-yellow"> ideas</span>, and important information in one secure place.

          <lord-icon src="https://cdn.lordicon.com/svsiboke.json" trigger="hover" stroke="light" colors="primary:#121331,secondary:#ffffff,tertiary:#8930e8,quaternary:#66a1ee,quinary:#f4dc9c,senary:#3a3347" style="width: 65px; height: 65px"></lord-icon>

          <lord-icon src="https://cdn.lordicon.com/zfzufhzk.json" trigger="hover" style="width: 65px; height: 65px"></lord-icon>
        </p>
      </div>
      <div class="col-lg-4">
        <img class="img-fluid" src="/image/notebook.jpg" alt="notebook" />
      </div>
    </div>
  </div>
</section>


<!-- <section class="features p-5">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-12 text-center"
        style="
          font-size: 60px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Why Choose NoteVault?
      </div>
    </div>
    <div
      class="row"
      style="font-size: 30px; padding-top: 70px; padding-bottom: 60px"
    >
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-card-checklist"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
            />
            <path
              d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Easy Note Organization</p>
            <p class="card__description">
              Create, categorize, and search your notes effortlessly.
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-universal-access-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"
            />
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Access Anywhere</p>
            <p class="card__description">
              Access your notes from any device, whether it's your computer,
              tablet, or smartphone.
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-shield-lock"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"
            />
            <path
              d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Secure and Private</p>
            <p class="card__description">
              Your notes are encrypted and protected, ensuring your data is
              safe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="font-sans" id="why-us">
  <div
    class="max-w-3xl mx-auto mt-12 p-6 rounded-lg"
  >
    <h1
      class="text-4xl font-bold text-center mb-8"
    >
      Why choose NoteValut?
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="p-4 flex flex-col items-center" style="border: 5px solid white">
        <div class="bg-teal-500 text-white rounded-full p-4 mb-4">
          <svg width="100" height="100" viewBox="0 0 24 24" class="w-8 h-8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- Lock body -->
            <path d="M17 11H7C5.895 11 5 11.895 5 13V19C5 20.105 5.895 21 7 21H17C18.105 21 19 20.105 19 19V13C19 11.895 18.105 11 17 11Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <!-- Lock shackle -->
            <path d="M7 11V7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <!-- Keyhole -->
            <circle cx="12" cy="16" r="1" fill="white"/>
        </svg>
        </div class="border border-2">
        <h2 class="text-xl font-semibold">
          Safe
        </h2>
        <p class="text-center">
          The concept of marketing support product range, regardless of the cost
          market trends.
        </p>
      </div>
      <div class="p-4 flex flex-col items-center" style="border: 5px solid white">
        <div class="bg-green-500 text-white rounded-full p-4 mb-4">
          <svg
            class="w-8 h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9.75 17L15 12l-5.25-5"
            ></path>
          </svg>
        </div>
        <h2 class="text-xl font-semibold">
          Fast
        </h2>
        <p class="text-center">
          Business plan elegantly transforms sublimated pool of loyal editions,
          optimizing budgets.
        </p>
      </div>
      <div class="p-4 flex flex-col items-center" style="border: 5px solid white">
        <div class="bg-yellow-500 text-white rounded-full p-4 mb-4">
          <svg
            class="w-8 h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 9V5a3 3 0 00-3-3H6a3 3 0 00-3 3v14a3 3 0 003 3h8a3 3 0 003-3v-4"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17h6M9 11h6"
            ></path>
          </svg>
        </div>
        <h2 class="text-xl font-semibold">
          Low Fee
        </h2>
        <p class="text-center">
          Sponsorship, summing these examples, it is doable. SWOT-analysis,
          according to Kotler, competitive.
        </p>
      </div>
      <div class="p-4 flex flex-col items-center" style="border: 5px solid white  ">
        <div class="bg-orange-500 text-white rounded-full p-4 mb-4">
          <svg
            class="w-8 h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 14s1.5-2 4-2 4 2 4 2M9 8h.01M15 8h.01M19 4h-1.586a2 2 0 00-1.414.586L15 6H9L7.414 4.586A2 2 0 006 4H4a2 2 0 00-2 2v12a2 2 0 002 2h15a2 2 0 002-2V6a2 2 0 00-2-2z"
            ></path>
          </svg>
        </div>
        <h2 class="text-xl font-semibold">
          Quick Support
        </h2>
        <p class="text-center">
          The fact that the advertising platform changes the method of studying
          the market.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="About-Section" id="aboutus">
  <div class="a_heading">
    <h1 style="font-style: normal; font-family: Poppins">About this Website</h1>
    <div class="a_container">
      <section class="about">
        <div class="a_image">
          <img src="/image/about-sec.png" alt="" />
        </div>
        <div class="a_content" style="font-style: normal; font-family: Poppins">
          <h2>NoteVault: Your Ultimate Note-Taking Solution</h2>
          <p>
            Welcome to NoteVault, the perfect platform for enhancing your
            productivity and organizing your notes efficiently. Whether you're a
            student or a professional, NoteVault has everything you need.
          </p>
          <p>
            Note Vault lets you easily create, categorize, and search your
            notes. Edit anytime to keep them current, delete unneeded notes for
            a clutter-free workspace, and enjoy secure, encrypted protection.
            Access your notes from any device—computer, tablet, or smartphone.
            Choose Note Vault for the ultimate note-taking solution.
          </p>
          <p>Join NoteVault now and transform your note-taking!</p>
        </div>
      </section>
    </div>
  </div>
</section>


<section class="testimonials" id="testimonials">
  <div class="container text-center">
    <h2 class="section-title">What Our Clients Say</h2>
  </div>
  <div class="container testimonials-container">
    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimonial-box">
            <h6 class="test-head">Sarah Johnson | University Student</h6>
            <p class="test-desc" style="padding: 0%;">"NoteVault is a game-changer for me. As a student, it helps me stay organized and never miss important information. Thank you!"</p>

            <div class="test-abt">
              <a href="https://linkedin.com/" target="_blank">
                <i class="fab fa-linkedin test-profile"></i>
              </a>
              <a href="https://github.com/" target="_blank">
                <i class="fab fa-github test-profile"></i>
              </a>
              <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter test-profile"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
        <div class="testimonial-box">
            <h6 class="test-head">Mark Roberts | Digital Marketer</h6>
            <p class="test-desc" style="padding: 0%;">"I've been using NoteVault for my personal and professional notes, and it has greatly improved my productivity. The collaboration features are fantastic!"</p>

            <div class="test-abt">
              <a href="https://linkedin.com/" target="_blank">
                <i class="fab fa-linkedin test-profile"></i>
              </a>
              <a href="https://github.com/" target="_blank">
                <i class="fab fa-github test-profile"></i>
              </a>
              <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter test-profile"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-box">
            <h6 class="test-head">Laura Thompson | Small Business Owner</h6>
            <p class="test-desc" style="padding: 0%;">"NoteVault has simplified my life. It's intuitive, reliable, and accessible on all my devices. Highly recommended for anyone looking for a note-taking solution."</p>

            <div class="test-abt">
              <a href="https://linkedin.com/" target="_blank">
                <i class="fab fa-linkedin test-profile"></i>
              </a>
              <a href="https://github.com/" target="_blank">
                <i class="fab fa-github test-profile"></i>
              </a>
              <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter test-profile"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<style>
.testimonials {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #5f5f5f;
}

.testimonials-container {
  max-width: 800px;
  margin: auto;
}

.testimonial-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.test-head {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.test-role {
  font-size: 1em;
  color: #777;
  margin-bottom: 15px;
}

.test-desc {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.test-abt {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.test-profile {
  font-size: 1.5em;
  color: #0077b5;
  transition: color 0.3s;
}

.test-profile:hover {
  color: #005582;
}

.test-profile.github {
  color: #333;
}

.test-profile.github:hover {
  color: #24292e;
}

.test-profile.twitter {
  color: #1da1f2;
}

.test-profile.twitter:hover {
  color: #0c7abf;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Us Section</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
  body {
    font-family: 'Poppins', sans-serif;
  }
  .Contact-Section {
    padding: 50px 0;
  }
  .Contact-Section h1, .Contact-Section h2, .Contact-Section p, .Contact-Section label {
    color: var(--text-color);
  }
  .Contact-Section {
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
  }
  .form-control {
    background-color: var(--form-background-color);
    color: var(--form-text-color);
    border: 1px solid var(--form-border-color);
  }
  .form-control::placeholder {
    color: var(--form-placeholder-color);
  }
  .btn-primary {
    background-color: var(--btn-background-color);
    border-color: var(--btn-border-color);
  }
  .btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    border-color: var(--btn-hover-border-color);
  }
  /* Light mode variables */
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --form-background-color: #ffffff;
    --form-text-color: #000000;
    --form-border-color: #ced4da;
    --form-placeholder-color: #6c757d;
    --btn-background-color: #007bff;
    --btn-border-color: #007bff;
    --btn-hover-background-color: #0056b3;
    --btn-hover-border-color: #0056b3;
  }
  /* Dark mode variables */
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #333333;
      --text-color: #ffffff;
      --form-background-color: #444444;
      --form-text-color: #ffffff;
      --form-border-color: #555555;
      --form-placeholder-color: #aaaaaa;
      --btn-background-color: #007bff;
      --btn-border-color: #007bff;
      --btn-hover-background-color: #0056b3;
      --btn-hover-border-color: #0056b3;
    }
  }
</style>
</head>
<body>
<section class="Contact-Section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="c_heading text-center">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="c_content">
          <h2>Get in Touch</h2>
          <p>
            Our team is happy to assist you.
            Fill out the form and we'll be in touch as soon as possible.
          </p>
          <form id="contactForm" action="/submit-contact-form" method="post">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
          <div id="successMessage" style="color: green; display: none; margin-top:5px">Message sent successfully!</div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-sans">
    <!DOCTYPE ht-

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/png" href="/image/logo.png">
		<title>NoteVault</title>
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Kanit:wght@500&family=Lora&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="/style/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		
     />
		<style>
			body{
				width: 100vw;
				overflow-x: hidden;
				
			}
		</style>
		<script src="https://cdn.tailwindcss.com"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
		></script>
	</head>
	<body></body>
</html>

    <div class="max-w-3xl mx-auto mt-12 p-6 rounded-lg shadow-md">
      <h1 class="text-5xl font-bold text-center font-serif mb-8">FAQs</h1>
      <p class="" class="text-gray-600 mb-10 text-center">
        Frequently Asked Questions.<br />Here are some common questions about
        Note Vault.
      </p>

      <div class="divide-y divide-gray-300">
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">What is Note Vault?</h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              Note Vault is a secure application for storing and managing your
              notes safely in one place.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">How do I create a new note?</h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              To create a new note, click on the "New Note" button in your
              dashboard and start typing your content. Save it once you're done.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">Is my data secure?</h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              Yes, Note Vault uses advanced encryption methods to ensure that
              your data is always secure and private.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">Can I access my notes offline?</h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              Currently, Note Vault requires an internet connection to access
              your notes, but offline access is a feature we are working on.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">
              How do I share my notes with others?
            </h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              You can share your notes by clicking the "Share" button and
              entering the email address of the person you want to share with.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">
              How do I recover a deleted note?
            </h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              Deleted notes are moved to the "Trash" folder. You can recover a
              note by going to the Trash folder and restoring it.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">
              What should I do if I forget my password?
            </h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              If you forget your password, click on the "Forgot Password" link
              on the login page and follow the instructions to reset it.
            </p>
          </div>
        </div>
        <div class="faq-item py-4">
          <div
            class="faq-question flex justify-between items-center cursor-pointer"
          >
            <h5 class="text-lg font-medium">
              Can I organize my notes into folders?
            </h5>
            <span class="text-xl font-bold">+</span>
          </div>
          <div class="faq-answer hidden pl-6 mt-2">
            <p class="">
              Yes, you can organize your notes into folders for better
              management. Use the "Create Folder" option to start organizing.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Public script file -->
<script src="https://kit.fontawesome.com/b13b6caa62.js" crossorigin="anonymous"></script>
<script src="/script/script.js"></script>
</body>
</html>
    <script>
      document.querySelectorAll(".faq-question").forEach((item) => {
        item.addEventListener("click", () => {
          const answer = item.nextElementSibling;
          const span = item.querySelector("span");
          answer.classList.toggle("hidden");
          span.textContent = span.textContent === "+" ? "−" : "+";
        });
      });
    </script>
  </body>
</html>

<!-- Scroll Up button -->
<div class="scroll-to-top invisible">
  <a href="#title"><i class="fa-solid fa-arrow-up"></i></a>
</div>


<footer>
	<div class="footer-container">
		<div class="footer-section about">
			<h3>Company</h3>
			<p>We are committed to delivering the best services to our customers. Your satisfaction is our priority.</p>
		</div>
		<div class="footer-section links">
			<h3>Quick Links</h3>
			<ul>
				<li><a href="#title">Home</a></li>
				<li><a href="#why-us">Why-us?</a></li>
				<li><a href="#aboutus">About</a></li>
				<li><a href="#testimonials">Clients View</a></li>
			</ul>
		</div>
		<div class="footer-section contact">
			<h3>Contact Us</h3>
			<p>Email: companyname@gamail.com</p>
			<p>Phone: +91 **********</p>
		</div>
		<div class="footer-section social">
			<h3>Follow Us</h3>
			<div class="test-abt">
				<a href="https://linkedin.com/" target="_blank">
					<i class="fa-brands fa-linkedin test-profile"></i>
				</a>
				<a href="https://github.com/" target="_blank">
					<i class="fa-brands fa-github test-profile"></i>
				</a>
				<a href="https://twitter.com/" target="_blank">
					<i class="fa-brands fa-x-twitter test-profile"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>&copy; 2024 NoteVault. All rights reserved.</p>
	</div>
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Public script file -->
<script src="https://kit.fontawesome.com/b13b6caa62.js" crossorigin="anonymous"></script>
<script src="/script/script.js"></script>
</body>
</html>