<%- include("partials/header") -%>
<section id="title">
    <!-- container row column -->
    <div class="container-fluid p-4">
        <div class="row m-1">
            <div class="col-lg-8 font-weight-bold" style="font-size: 35px;">
                <a href="/note/show" class="text-white">
                    NoteVault
                </a>
            </div>
            <div class="col-lg-4">
                <div class="row p-2 font-weight-light">
                    <div class="col-lg-6 text-center">
                        <a href="/user/login" class="text-white">
                            Login
                        </a>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="/user/register" class="text-white">
                            Register
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-lg-8">
                <p style="font-size: 100px;">Keep your thoughts, ideas, and important information in one secure place.
                </p>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="/image/notebook.jpg" alt="notebook">
            </div>
        </div>
    </div>
</section>
<section class="features p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center" style="font-size: 80px;">
                Why Choose NoteVault?
            </div>
        </div>
        <div class="row" style="font-size: 40px; ">
            <div class="col-lg-4 text-center pt-4">
                <i class="fa-solid fa-check fa"></i>
                <h1>Easy Note Organization</h1>
                <p>Create, categorize, and search your notes effortlessly.</p>
            </div>
            <div class="col-lg-4 text-center pt-4">
                <i class="fa-solid fa-universal-access fa"></i>
                <h1>Access Anywhere</h1>
                <p>Access your notes from any device, whether it's your computer, tablet, or smartphone.</p>
            </div>
            <div class="col-lg-4 text-center pt-4">
                <i class="fa-solid fa-lock fa"></i>
                <h1>Secure and Private</h1>
                <p>Your notes are encrypted and protected, ensuring your data is safe.</p>
            </div>
        </div>
    </div>
</section>
<section class="testimonial-section mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center" style="font-size: 60px;">
                <p>What Our Clients Say</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="color: black;">
                        <p class="card-text testimonial-message rounded">"NoteVault is a game-changer for me. As a
                            student, it helps me stay organized and never miss important information. Thank you!"</p>
                        <h5 class="card-title">Sarah Johnson, University Student</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="color: black;">
                        <p class="card-text testimonial-message rounded">"I've been using NoteVault for my personal and
                            professional notes, and it has greatly improved my productivity. The collaboration features
                            are fantastic!"</p>
                        <h5 class="card-title">Mark Roberts, Digital Marketer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="color: black;">
                        <p class="card-text testimonial-message rounded">"NoteVault has simplified my life. It's
                            intuitive, reliable, and accessible on all my devices. Highly recommended for anyone looking
                            for a note-taking solution."</p>
                        <h5 class="card-title">Laura Thompson, Small Business Owner</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <p>© Copyright NoteVault</p>
            </div>
        </div>
    </div>
</section>
<section>
            <h2>Download Notes</h2>
            <p>Download all your notes as PDF:</p>
            <form action="/note/download/pdf" method="get">
                <button type="submit">Download PDF</button>
            </form>
            <a href="/notes/pdf" class="btn btn-primary">Download All Notes as PDF</a>
        </section>
<%- include("partials/footer") -%>