<%- include("partials/header") -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <style>
    
    
    .testimonials-container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }

    .section-title {
      font-size: 40px;
      padding-top: 100px;
      color: rgb(255, 255, 255);
      /* Change font color to black */
    }

    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .testimonial-box {
      padding: 20px;
      margin: 20px;
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      color: rgb(247, 247, 247);
      /* Change font color to black */
    }

    .test-head {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: black;
      /* Change font color to black */
    }

    .test-desc {
      font-size: 18px;
      margin-bottom: 20px;
      color: black;
      /* Change font color to black */
    }

    .test-abt {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .test-profile {
      font-size: 24px;
      color: #000;
      transition: color 0.3s;
    }

    .test-profile:hover {
      color: #ee7195;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #ee7195;
      border-radius: 50%;
      padding: 10px;
    }

    .carousel-indicators button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ee7195;
      border: none;
      transition: background-color 0.3s;
    }

  
  .side-drawer {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .side-drawer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .side-drawer a:hover {
    color: #f1f1f1;
  }

  .side-drawer .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .open-drawer {
    width: 250px;
  }

  @media (min-width: 992px) {
    .side-drawer {
      display: none;
    }
  }

</style>
<script src="https://cdn.lordicon.com/lordicon.js"></script>

<section id="title">
  <!-- container row column -->
  <div class="container-fluid  pt-5">
    <div class="row m-1 align-items-center fixed-nav ">
      <!-- NoteVault logo and title -->
      <div class="col-lg-3 font-weight-bold" style="font-size: 35px; display: flex">
        <img src="image/favicon.png" width="50px" style="border-radius: 25%; height: 50px"/>
        <a href="/note/show" class="text-white text-decoration-none ml-2">NoteVault</a>
      </div>
      <!-- Dark mode toggle switch -->
      <div class="toggle-container col-lg-1">
        <label class="switch">
          <input type="checkbox" id="modeToggle" />
          <span class="slider round">
            <span class="slider-icon sun"><i class="fa-solid fa-sun"></i></span>
            <span class="slider-icon moon"><i class="fa-solid fa-moon"></i></span>
          </span>
        </label>
      </div>

      <!-- Links -->
      <div class="col-lg-2 px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="#why-us" class="text-decoration-none">
            <i class="fa-solid fa-circle-info" style="color: #ffffff"></i>
            Why Us
          </a>
        </div>
      </div>
      <div class="col-lg-2 px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="#aboutus" class="text-decoration-none">
            <i class="fa-solid fa-address-card" style="color: #ffffff"></i>
            About Us
          </a>
        </div>
      </div>
      <div class="col-lg-2 px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="#testimonials" class="text-decoration-none">
            <i class="fa-solid fa-users" style="color: #ffffff"></i>
            Testimonials
          </a>
        </div>
      </div>
      <div class="col-lg-1 px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="/pro" class="text-decoration-none">
            <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
            Go Pro!
          </a>
        </div>
      </div>
      <div class="col-lg-1 px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="/user/login" class="text-decoration-none">
            <i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i>
            Login
          </a>
        </div>
      </div>
      <div class="col-lg-1 px-1 d-none d-lg-block">
        <div class="navbar text-center">
          <a href="/user/register" class="text-decoration-none">
            <i class="fa-solid fa-registered" style="color: #ffffff"></i>
            Register
          </a>
        </div>
      </div>
      <div class="col-lg-4 text-right d-lg-none">
        <button class="btn btn-primary" onclick="openDrawer()">Menu</button>
      </div>
    </div>
  </div>
      

    </div>
    

    <div id="myDrawer" class="side-drawer">
      <a href="javascript:void(0)" class="close-btn" onclick="closeDrawer()">X</a>
      <a href="#why-us">Why Us</a>
      <a href="#aboutus">About Us</a>
      <a href="#testimonials">Testimonials</a>
      <a href="/user/login">Login</a>
      <a href="/user/register">Register</a>
    </div>

    

    <div class="row hero-margin align-items-center" id="why-us">
      <div class="col-lg-8 hero-margin ">
        <p class="font-hero hero-text">
          Keep your <span class="text-green">thoughts</span>,<br> <span class="text-yellow"> ideas</span>, and important information in one secure place.

            <lord-icon src="https://cdn.lordicon.com/svsiboke.json" class="t" trigger="hover" stroke="light"
              colors="primary:#121331,secondary:#ffffff,tertiary:#8930e8,quaternary:#66a1ee,quinary:#f4dc9c,senary:#3a3347"
              style="width: 5vw; height: 5vw"></lord-icon>

            <lord-icon src="https://cdn.lordicon.com/zfzufhzk.json" class="t" trigger="hover"
              style="width: 5vw; height: 5vw"></lord-icon>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid "  src="/image/notebook.jpg" alt="notebook" />
        </div>
      </div>
    </div>

    
  </section>


  <!-- <section class="features p-5">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-12 text-center"
        style="
          font-size: 60px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Why Choose NoteVault?
      </div>
    </div>
    <div
      class="row"
      style="font-size: 30px; padding-top: 70px; padding-bottom: 60px"
    >
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-card-checklist"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
            />
            <path
              d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Easy Note Organization</p>
            <p class="card__description">
              Create, categorize, and search your notes effortlessly.
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-universal-access-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"
            />
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Access Anywhere</p>
            <p class="card__description">
              Access your notes from any device, whether it's your computer,
              tablet, or smartphone.
            </p>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="180"
            height="180"
            fill="currentColor"
            class="bi bi-shield-lock"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"
            />
            <path
              d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"
            />
          </svg>
          <div class="card__content">
            <p class="card__title">Secure and Private</p>
            <p class="card__description">
              Your notes are encrypted and protected, ensuring your data is
              safe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

        </div>
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out" style="border: 5px solid white">
          <div class="bg-green-500 text-white rounded-full p-4 mb-4">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L15 12l-5.25-5"></path>
            </svg>
          </div>
          <h2 class="text-xl font-semibold">
            Fast
          </h2>
          <p class="text-center">
            Business plan elegantly transforms sublimated pool of loyal editions,
            optimizing budgets.
          </p>
        </div>
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out" style="border: 5px solid white">
          <div class="bg-yellow-500 text-white rounded-full p-4 mb-4">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 9V5a3 3 0 00-3-3H6a3 3 0 00-3 3v14a3 3 0 003 3h8a3 3 0 003-3v-4"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6M9 11h6"></path>
            </svg>
          </div>
          <h2 class="text-xl font-semibold">
            Low Fee
          </h2>
          <p class="text-center">
            Sponsorship, summing these examples, it is doable. SWOT-analysis,
            according to Kotler, competitive.
          </p>
        </div>
        <div class="p-4 flex flex-col items-center transform hover:scale-105 transition duration-300 ease-in-out" style="border: 5px solid white  ">
          <div class="bg-orange-500 text-white rounded-full p-4 mb-4">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 14s1.5-2 4-2 4 2 4 2M9 8h.01M15 8h.01M19 4h-1.586a2 2 0 00-1.414.586L15 6H9L7.414 4.586A2 2 0 006 4H4a2 2 0 00-2 2v12a2 2 0 002 2h15a2 2 0 002-2V6a2 2 0 00-2-2z">
              </path>
            </svg>
          </div>
          <h2 class="text-xl font-semibold">
            Quick Support
          </h2>
          <p class="text-center">
            The fact that the advertising platform changes the method of studying
            the market.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="About-Section" id="aboutus">
    <div class="a_heading">
      <h1 class="playfair-display-heading">About NoteVault</h1>
      <div class="a_container">
        <section class="about">
          <div class="a_image">
            <img src="/image/about-sec.png" alt="" />
          </div>
          <div class="a_content" style="font-style: normal; font-family: Poppins; text-align: center;">
            <h2>NoteVault: Your Note-Taking Powerhouse</h2>
            <p>
              Struggling to stay organized and on top of your ever-growing to-do list? Meet NoteVault, your one-stop solution for effortless note-taking and maximized productivity.
            </p>
            <p>
              Welcome to NoteVault, whether you're a
              student or a professional, NoteVault has everything you need.
            </p>
            <p>
              Create, categorize, and find your notes with ease. Keep them up-to-date with quick edits and remove unnecessary ones for a clean workspace. Note Vault secures your notes with encrypted protection, giving you peace of mind. Access your information anytime, anywhere - from your computer, tablet, or smartphone. 
              <b>Make Note Vault your go-to choice for a powerful note-taking experience.</b>
            </p>

          </div>
        </section>
      </div>
    </div>
  </section>


  <section class="testimonials" id="testimonials">
    <div class="container  a_heading">
      <h1 class="section-title playfair-display-heading">What Our Clients Say</h1>
    </div>
    <div class="container testimonials-container">
      <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-box text-center">
              <!-- <img src="https://img.freepik.com/premium-vector/happy-cute-smile-boy-crossed-arms_97632-1360.jpg" height="100px" width="100px" alt=""> -->
              <div class="img-cont">
              <img src="https://img.freepik.com/free-photo/smart-business-woman-with-glasses-portrait-isolated-white-wall_231208-8786.jpg" height="200px" width="200px" alt="">
              <h5 class="test-head">Sarah Johnson</h5>
              </div>
              <p class="test-role">University Student</p>
              <p class="test-desc">"NoteVault is a game-changer for me. As a student, it helps me stay organized and
                never miss important information. Thank you!"</p>
              <div class="test-abt">
                <a href="https://linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin test-profile"></i>
                </a>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github test-profile"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter test-profile"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-box text-center">
              <div class="img-cont">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/036/783/072/small_2x/ai-generated-male-lawyer-in-suit-professional-ai-generated-photo.jpg" height="220px" width="220px" alt="">
                <h5 class="test-head">Mark Jhonson</h5> 
                </div>
              <p class="test-role">Digital Marketer</p>
              <p class="test-desc">"I've been using NoteVault for my personal and professional notes, and it has greatly
                improved my productivity. The collaboration features are fantastic!"</p>
              <div class="test-abt">
                <a href="https://linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin test-profile"></i>
                </a>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github test-profile"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter test-profile"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-box text-center">
              <div class="img-cont">
                <img src="https://i.pinimg.com/736x/aa/9e/f0/aa9ef022cdae83df1d96baa6fbbeb380.jpg" height="270px" width="270px" alt="">
                <h5 class="test-head">Alina Decluza</h5>
                </div>
              <p class="test-role">Small Business Owner</p>
              <p class="test-desc">"NoteVault has simplified my life. It's intuitive, reliable, and accessible on all my
                devices. Highly recommended for anyone looking for a note-taking solution."</p>
              <div class="test-abt">
                <a href="https://linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin test-profile"></i>
                </a>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github test-profile"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter test-profile"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <style>
    .testimonials {
      padding: 50px 0;
      background-color: #f9f9f9;
    }

    .section-title {
      font-size: 2.5em;
      margin-bottom: 30px;
      color: #5f5f5f;
    }

    .testimonials-container {
      max-width: 800px;
      margin: auto;
    }

    .testimonial-box {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .testimonial-box:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .test-head {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 5px;
      display: inline-block;
    }

    .img-cont img{
     margin: auto;
    }

    .test-role {
      font-size: 1em;
      color: #777;
      margin-bottom: 15px;
    }

    .test-desc {
      font-size: 1em;
      color: #555;
      margin-bottom: 20px;
    }

    .test-abt {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .test-profile {
      font-size: 1.5em;
      color: #0077b5;
      transition: color 0.3s;
    }

    .test-profile:hover {
      color: #005582;
    }

    .test-profile.github {
      color: #333;
    }

    .test-profile.github:hover {
      color: #24292e;
    }

    .test-profile.twitter {
      color: #1da1f2;
    }

    .test-profile.twitter:hover {
      color: #0c7abf;
    }
  </style>



  <%- include('faqs') %>
    <!-- Scroll Up button -->
    <button id="scrollToTopBtn" class="scrollToTopBtn">↑</button>


    <footer>
      <div class="footer-container">
        <div class="footer-section about">
          <h3>Company</h3>
          <p>We are committed to delivering the best services to our customers. Your satisfaction is our priority.</p>
        </div>
        <div class="footer-section links">
          <h3>Quick Links</h3>
          <ul>

            <li><a href="#title"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="#why-us">  <i class="fa-solid fa-circle-question"></i> Why-us?</a></li>
            <li><a href="#aboutus"><i class="fa-solid fa-circle-info"></i> About</a></li>
            <li><a href="#testimonials"><i class="fa-solid fa-users"></i> Clients View</a></li>

          </ul>
        </div>
        <div class="footer-section contact">
          <h3>Contact Us</h3>
          <p>Email: companyname@gamail.com</p>
          <p>Phone: +91 **********</p>
        </div>
        <div class="footer-section social">
          <h3>Follow Us</h3>
          <div class="test-abt">
            <a href="https://linkedin.com/" target="_blank">
              <i class="fa-brands fa-linkedin test-profile"></i>
            </a>
            <a href="https://github.com/" target="_blank">
              <i class="fa-brands fa-github test-profile"></i>
            </a>
            <a href="https://twitter.com/" target="_blank">
              <i class="fa-brands fa-x-twitter test-profile"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<script>
//Scroll to top js
const scrollToTopBtn = document.getElementById("scrollToTopBtn");
function scrollToTop() {
  window.scrollTo({
    top: 0,
    behavior: "smooth",
  });
}
function handleScroll() {
  if (window.pageYOffset > 100) {
    scrollToTopBtn.classList.add("show");
  } else {
    scrollToTopBtn.classList.remove("show");
  }
}
// Add scroll event listener
window.addEventListener("scroll", handleScroll);
// Add click event listener
scrollToTopBtn.addEventListener("click", scrollToTop);

  function openDrawer() {
    console.log("click423")
    document.getElementById("myDrawer").style.left = "0";
  }

  function closeDrawer() {
    console.log("click")
    document.getElementById("myDrawer").style.left = "-250px";
  }
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("contactForm");
    const successMessage = document.getElementById("successMessage");

    form.addEventListener("submit", function(event) {
      event.preventDefault(); 
      setTimeout(function() {
        successMessage.style.display = "block";
        form.reset();
      }, 1000); 
    });
  });
</script>
<style>
/*Scroll to top*/
.scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #00ccff;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}
  .Contact-Section {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .c_heading {
    margin-bottom: 30px;
  }
  
  .c_heading h1 {
    font-style: normal;
    font-family: Poppins;
    font-size: 36px;
  }
  
  .c_content h2 {
    font-style: normal;
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .c_content p {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  textarea.form-control {
    resize: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  </style>

      <div class="footer-bottom">
        <p>&copy; 2024 NoteVault. All rights reserved.</p>
      </div>
    </footer>

  
    <%- include("partials/footer") -%>