<%- include("partials/header") -%>
    <section id="title">
        <!-- container row column -->
        <div class="container-fluid p-4">
            <div class="row m-1">
                <div class="col-lg-8 font-weight-bold" style="font-size: 35px;">
                    <a href="/note/show" class="text-white">
                        NoteVault
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="row p-2 font-weight-light">
                        <div class="col-lg-6 text-center">
                            <a href="/user/login" class="text-white">
                                Login
                            </a>
                        </div>
                        <div class="col-lg-6 text-center">
                            <a href="/user/register" class="text-white">
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 align-items-center">
                <div class="col-lg-8">
                    <p style="font-size: 100px;">Keep your thoughts, ideas, and important information in one secure
                        place.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="/image/notebook.jpg" alt="notebook">
                </div>
            </div>
        </div>
    </section>
    <section class="features p-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center" style="font-size: 80px;">
                    Why Choose NoteVault?
                </div>
            </div>
            <div class="row" style="font-size: 40px; ">
                <div class="col-lg-4 text-center pt-4">
                    <i class="fa-solid fa-check fa"></i>
                    <h1>Easy Note Organization</h1>
                    <p>Create, categorize, and search your notes effortlessly.</p>
                </div>
                <div class="col-lg-4 text-center pt-4">
                    <i class="fa-solid fa-universal-access fa"></i>
                    <h1>Access Anywhere</h1>
                    <p>Access your notes from any device, whether it's your computer, tablet, or smartphone.</p>
                </div>
                <div class="col-lg-4 text-center pt-4">
                    <i class="fa-solid fa-lock fa"></i>
                    <h1>Secure and Private</h1>
                    <p>Your notes are encrypted and protected, ensuring your data is safe.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-section mt-5 bg-[#ef8172]">
        <div class="container mx-auto px-4">
            <div class="text-center pt-4">
                <h2 class="text-4xl sm:text-5xl font-bold mb-12 text-white">What Our Clients Say</h2>
            </div>
            <div class="flex flex-wrap justify-center items-stretch text-center gap-4">
                <div class="w-full md:w-1/2 lg:w-1/4 mb-8">
                    <div class="bg-white rounded-lg shadow-md p-6 h-full">
                        <p class="text-gray-700 mb-4 font-serif ">"NoteVault has truly changed the way I organize my thoughts. As a
                            writer, I rely
                            on it to keep track of plot points, character arcs, and story ideas. It's like having a
                            personal assistant
                            dedicated to my creative process!"</p>
                        <h5 class="text-[#CA8787] font-bold font-serif  ">Emma Thompson, Author</h5>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 mb-8">
                    <div class="bg-white rounded-lg shadow-md p-6 h-full">
                        <p class="text-gray-700 mb-4 font-serif">"As a project manager, NoteVault has been an invaluable tool for
                            me and my team.
                            It streamlines communication, keeps everyone on the same page, and ensures that no detail
                            gets overlooked. I
                            highly recommend it to anyone managing projects!"</p>
                        <h5 class="text-[#CA8787] font-bold font-serif">David Wilson, Project Manager</h5>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 mb-8">
                    <div class="bg-white rounded-lg shadow-md p-6 h-full">
                        <p class="text-gray-700 mb-4 font-serif">"I've been using NoteVault for my personal journaling, and it's
                            been incredibly
                            therapeutic. Having a digital journal that I can access from anywhere has made it easier for
                            me to reflect
                            on my thoughts and emotions."</p>
                        <h5 class="text-[#CA8787] font-bold font-serif">Sophie Evans, Journalist</h5>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 mb-8">
                    <div class="bg-white rounded-lg shadow-md p-6 h-full">
                        <p class="text-gray-700 mb-4 font-serif">"NoteVault has become my go-to tool for organizing research notes
                            and references.
                            Its tagging and search functionalities make it easy to find information quickly, saving me
                            valuable time
                            during my research process."</p>
                        <h5 class="text-[#CA8787] font-bold font-serif">Daniel Lee, Researcher</h5>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 mb-8">
                    <div class="bg-white rounded-lg shadow-md p-6 h-full">
                        <p class="text-gray-700 mb-4 font-serif">"As a teacher, NoteVault has been a game-changer for lesson
                            planning and keeping
                            track of student progress. Being able to access my notes and resources from any device has
                            made teaching
                            more efficient and effective."</p>
                        <h5 class="text-[#CA8787] font-bold font-serif">Jessica Carter, Educator</h5>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 mb-8">
                    <div class="bg-white rounded-lg shadow-md p-6 h-full">
                        <p class="text-gray-700 mb-4 font-serif">"NoteVault has simplified my work as a freelance designer. It
                            helps me jot down
                            ideas on the go and keep track of client feedback. Plus, the ability to collaborate with
                            clients directly
                            within the platform is a game-changer!"</p>
                        <h5 class="text-[#CA8787] font-bold font-serif">Ryan Johnson, Freelance Designer</h5>
                    </div>
                </div>


            </div>
            <div class="text-center mt-5 pb-6">
                <a href="https://github.com/Note-Vault/Note-Vault" target="_blank" class="text-white font-bold text-decoration-none">© Copyright
                    NoteVault</a>
            </div>
        </div>
    </section>


    <%- include("partials/footer") -%>