<%- include("partials/header") -%>

<section class="login">
	<div class="container-log">
		<img class="auth-bg w-half img-fluid" src="/image/signin.jpg" alt="login" />
		<div class="row mt-3 w-half">
			<h1 class="offset-5 mb-3 text-3xl font-bold pl-4">Login</h1>
			<div class="col-7 offset-3">
				<% if (errorMessage) { %>
				<p style="color: red"><%= errorMessage %></p>
				<% } %>
				<form method="post" action="/user/login">
					<div class="mb-3">
						<label class="form-label" for="email">Email ID</label>
						<input
							type="email"
							class="form-control"
							id="email"
							placeholder="abc1@site.com"
							name="email"
							required
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Password</label>
						<input
							type="password"
							class="form-control"
							id="password"
							placeholder="••••••"
							name="password"
							required
						/>
					</div>

					<button type="submit" class="btn btn-dark login-button mb-3 center">
						Login
					</button>
				</form>
                <hr />
				<span class="mx-auto p-5"
					>Don't have an account?<a href="/user/register" style="color: black">
						<b>Register</b></a
					>
				</span>
				<span class=" pt-4 pl-[120px]">Go to </span><a style="color: blue" href="/">Home</a>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") -%>
