<%- include("partials/header") -%>

<section class="login">
	<div class="container-log">
		<!-- Dark mode toggle switch with custom sun and moon icons -->
		<div class="toggle-container">
			<label class="switch">
				<input type="checkbox" id="modeToggle">
				<span class="slider round">
					<img src="/image/light.png" class="sun slider-icon" alt="light mode" width="30" height="30"/>
					<img src="/image/dark.png" class="moon slider-icon" alt="light mode" width="30" height="30"/>
				</span>
			</label>
		</div>
		<img class="auth-bg w-half img-fluid" src="/image/signin.jpg" alt="login" />

		<div class="row mt-3 w-half">
			<h1 class="offset-5 mb-3">Login</h1>
			<div class="col-7 offset-3">
				<% if (errorMessage) { %>
				<p style="color: red"><%= errorMessage %></p>
				<% } %>
				<form method="post" action="/user/login">
					<div class="mb-3">
						<label class="form-label" for="email">Email ID</label>
						<input
							type="email"
							class="form-control"
							id="email"
							placeholder="abc1@site.com"
							name="email"
							required
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Password</label>
						<input
							type="password"
							class="form-control"
							id="password"
							placeholder="••••••"
							name="password"
							required
						/>
					</div>

					<button type="submit" class="btn btn-dark login-button mb-3 center">
						Login
					</button>
				</form>
				<hr />
				<span class="mx-auto p-5"
					>Don't have an account?<a href="/user/register">
						<b>Register</b></a
					>
				</span>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") -%>
