<%- include("partials/header") -%>

<section class="login">
	<div class="container-log">
		<img class="auth-bg w-half img-fluid" src="/image/signin.jpg" alt="login" />

		<div class="row mt-3 w-half">
			<h1 class="offset-5 mb-3">Signup</h1>
			<div class="col-7 offset-3">
				<% if (errorMessage) { %>
				<p style="color: red"><%= errorMessage %></p>
				<% } %>
				<form method="post" action="/user/register">
					<div class="mb-3">
						<label class="form-label" for="name">Name</label>
						<input
							type="text"
							class="form-control"
							id="name"
							placeholder="User"
							name="name"
							required
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="email">Email ID</label>
						<input
							type="email"
							class="form-control"
							id="email"
							placeholder="abc1@site.com"
							name="email"
							required
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Password</label>
						<input
							type="password"
							class="form-control"
							id="password"
							placeholder="••••••"
							name="password"
							required
							aria-describedby="passwordHelpBlock"
						/>
						<div id="passwordHelpBlock" class="form-text">
							Your password must be 8-20 characters long.
						</div>
					</div>

					<button type="submit" class="btn btn-dark login-button mb-3 center">
						Login
					</button>
				</form>
				<hr />
				<span class="mx-auto p-5"
					>Already have an account?<a href="/user/login" style="color: black">
						<b>Login</b></a
					>
				</span>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") -%>
