<%- include("partials/header") -%>
<div class="container-fluid">
    <!-- Dark mode toggle switch with custom sun and moon icons -->
    <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="modeToggle">
            <span class="slider round">
                <span class="slider-icon sun"><i class="material-symbols-outlined">light_mode</i></span>
                <span class="slider-icon moon"><i class="material-symbols-outlined">dark_mode</i></span>
            </span>
        </label>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <h1>Account Created Successfully</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <p>You can now proceed to login.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <a href="/user/login" class="btn btn-primary">Login</a> 
        </div>
    </div>
</div>
<%- include("partials/footer") -%>